.post-list {
  margin: 0 !important;
  justify-content: center;
  &__item {
    width: 100% !important;
    img{
      background-position: center;
    }

    .extra {
      i {
        margin-right: 5px !important;
      }
    }
  }
}
